/* You can add global styles to this file, and also import other style files */
.main-container{
    padding: 30px;
    background: #ccc;
}
.details-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
   
}

.left-col{
    width:14%;
    background: #fff;
}

.right-col{
    width:85%;
}

.card-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-evenly */
}

.card-details{
    width:24%;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.card{
    padding:10px;
}

.img-div{
    height: 150px;
    background: #ccc;
}
.sub-heading{
    text-align: center !important;
}


.text-div{
    min-height: 150px;
}
.title{
    color: blue;
}
.year-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.year{
    margin: 10px;
    background-color: rgba(143, 206, 49, 0.801);
}
.selectedyear{
    margin: 10px;
    background-color: green;
    color: white;
}
.success_display h4{
padding: 10px;

}
/* .success_display button{
    margin: 10px;
    background-color: rgba(143, 206, 49, 0.801);
} */



img{
    height:150px;
    width:230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




 




  @media only screen and (min-width: 700px) and (max-width: 1024px) {

    .left-col{
      width: 24%;
    }

    .year-list{
        justify-content: flex-start;
    }
    .year-list div{
        width:48%;
    }

    .year{
        width: 85%;
    }
    .selectedyear{
        width: 85%;
    }

    .right-col {
      width: 73%;
  }
  .card-details{
      width:48%;
  }


}

@media only screen and (max-width: 700px) {

    .details-container{
        flex-direction: column;
    }
    .left-col{
      width: 100%;
    }

    .year-list{
        justify-content: flex-start;
    }
    .year-list div{
        width:48%;
    }

    .year{
        width: 85%;
    }
    .selectedyear{
        width: 85%;
    }

    .right-col {
      width: 100%;
  }
  .card-details{
      width:100%;
      margin-left: 0px;
  }


}