/* You can add global styles to this file, and also import other style files */
.main-container{
    padding: 30px;
    background: #ccc;
}
.details-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
   
}

.left-col{
    width:14%;
    background: #fff;
}

.right-col{
    width:85%;
}

.card-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-details{
    width:24%;
    background: #fff;
    margin-bottom: 10px;
}

.card{
    padding:10px;
}

.img-div{
    height: 150px;
    background: #ccc;
}

.text-div{
    min-height: 150px;
}
.title{
    color: blue;
}
.year-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.year{
    margin: 10px;
}
.success_display h4{
padding: 10px;
}
.success_display button{
    margin: 10px;
}



  @media only screen and (max-width: 650px) {
    .left-col{
        width:100%;
        background: #fff;
    }
    
    .right-col{
        width:100%;
        margin-top:30px
    }
    .card-details{
        width:100%;
        background: #fff;
        margin-bottom: 10px;
    }

    .details-container{
        flex-direction: column;
    }
  }