/* You can add global styles to this file, and also import other style files */
.main-container{
    padding: 30px;
    background: #ccc;
}
.details-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
   
}

.left-col{
    width:14%;
    background: #fff;
}

.right-col{
    width:85%;
}

.card-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    justify-content: space-evenly
}

.card-details{
    width:24%;
    background: #fff;
    margin-bottom: 10px;
}

.card{
    padding:10px;
}

.img-div{
    height: 150px;
    background: #ccc;
}
.sub-heading{
    text-align: center !important;
}


.text-div{
    min-height: 150px;
}
.title{
    color: blue;
}
.year-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.year{
    margin: 10px;
    background-color: rgba(143, 206, 49, 0.801);
}
.selectedyear{
    margin: 10px;
    background-color: green;
}
.success_display h4{
padding: 10px;

}
/* .success_display button{
    margin: 10px;
    background-color: rgba(143, 206, 49, 0.801);
} */



img{
    height:150px;
    width:230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  @media only screen and (max-width: 400px) {
    /* .left-col{
        width:100%;
        background: #fff;
    } */
    .left-col{
        width:100%;
        background: #fff;
    }
    .year-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 55px;
    }
    .right-col{
        width:100%;
        margin-top:30px
    }
    .card-details{
        width:100%;
        background: #fff;
        margin-bottom: 10px;
    }

    .details-container{
        flex-direction: column;
    }
  }
  @media only screen and (min-width: 401px)and (max-width: 1024px) {
    /* .left-col{
        width:100%;
        background: #fff;
    } */
    .left-col{
        width:100%;
        /* vertical-align: middle; */
        background: #fff;
    }
    .year-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;
    }
    .right-col{
        width:100%;
        margin-top:30px
    }
    .card-details{
        width:50%;
        background: #fff;
        margin-bottom: 10px;
    }

    .details-container{
        flex-direction: column;
    }
  }
  @media only screen and (min-width: 1024px) {
    /* .left-col{
        width:100%;
        background: #fff;
    } */
    .left-col{
        width:100%;
        /* vertical-align: middle; */
        background: #fff;
    }
    .year-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 400px;
    }
    .right-col{
        width:100%;
        margin-top:30px
    }
    .card-details{
        width:50%;
        background: #fff;
        margin-bottom: 10px;
    }

    .details-container{
        flex-direction: column;
    }
  }